:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color:#2196F3;
  --main-text-color:#212121;
  --secondary-text-color:#757575;
  --third-text-color:#FFFFFF;
  --main-background-color: #2F303A;
  --section-background-color:#F5F4FA;
  --logo-part-color:#000000;

}

body {
  font-family: var(--main-font);
  color:var(--main-text-color)
 }
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* ==============================СТИЛИ ХЕДЕРА=============================== */
.header-logo {
font-family:var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--accent-color);
}
.header-logo-part {
 color:var(--logo-part-color);
}
.navigation-link {
font-weight: 500;
font size: 14px;
line height: 1.14;
letter-spacing: 0.02em;
color:var(--main-text-color)
}
.navigation-link:hover,
.navigation-link:focus {
color: var(--accent-color);
}
.active{
    color: var(--accent-color);
}
.header-mail-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
}
.header-mail-link:hover,
.header-mail-link:focus {
 color: var(--accent-color);
}
.header-tel-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
}
.header-tel-link:hover,
.header-tel-link:focus {
 color: var(--accent-color);
}  
/* ========================СТИЛИ MAIN================================== */
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--third-text-color);
background-color:var(--main-background-color);
}
/* ============= COMPONENTS ============= */
.modal-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color:var(--third-text-color);
}
.modal-btn:hover,
.modal-btn:focus {
 cursor: pointer;
}
.advantages-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.advantages-description {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
}
.services-subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}
.team {
  background-color: var(--section-background-color);
}
.team-subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;  
}
.team-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.team-description {
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
}
/* ============================== СТИЛИ FOOTER================================ */
.footer {
background-color:var(--main-background-color)
}
.footer-logo{
font-family:var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--accent-color);
}
.footer-logo-part {
color:var(--third-text-color);
}
.adress-name {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--third-text-color);
}
.footer-mail-link{
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link:hover,
.footer-tel-link:focus 
.footer-mail-link:hover,
.footer-mail-link:focus 
/* ====================== Классы страницы портфолио =========================== */
.portfolio-modal-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--main-text-color);
background:var(--section-background-color);
}
.portfolio-modal-btn:hover,
.portfolio-modal-btn:focus {
  background-color: var(--accent-color);
  color:var(--third-text-color);
  cursor: pointer;
}
.projects-name {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.projects-description {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
}