:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color:#2196F3;
  --main-text-color:#212121;
  --secondary-text-color:#757575;
}

body {
  font-family: var(--main-font);
 }
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-logo {
font-family:var(--secondary-font);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.header-logo-part {
 color: #000000;
}
.navigation-link {
font family:var(--main-font);
font-weight: 500;
font size: 14px;
line height: 1.14;
letter spacing: 2%;
color: var(--main-text-color);
}
.navigation-link:hover,
.navigation-link:focus {
color: var(--accent-color);
}
.active{
    color: var(--accent-color);
}
.header-mail-link {
font-family:var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
}
.header-mail-link:hover,
.header-mail-link:focus {
 color: var(--accent-color);
}
.header-tel-link {
font-family:var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
}
.header-tel-link:hover,
.header-tel-link:focus {
 color: var(--accent-color);
}  
.hero-title {
font-family:var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
/* color: #FFFFFF; */
}
/* ============= COMPONENTS ============= */
.modal-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  /* color: #ffffff; */
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.advantages-title {
font-family:var(--main-font);
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--main-text-color);
}
.advantages-description {
font-family:var(--main-font);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
}
.services-subtitle {
font-family:var(--main-font);
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--main-text-color);
}
.team-subtitle {
font-family:var(--main-font);
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--main-text-color);  
}
.team-title {
font-family:var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--main-text-color);
}
.team-description {
font-family:var(--main-font);
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
}
.footer {
background-color:#2F303A
}
.footer-logo{
font-family:var(--secondary-font);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--accent-color);
}
.footer-logo-part {
color:#ffffff;
}
.adress-name {
font-family:var(--main-font);
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;

}
.footer-mail-link{
font-family:var(--main-font);
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link {
font-family:var(--main-font);
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link:hover,
.footer-tel-link:focus 
.footer-mail-link:hover,
.footer-mail-link:focus 